@tailwind base;
@tailwind components;
@tailwind utilities;

.navBar{
  background-color:pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.navList>ul{
  display: flex;
  list-style-type: none;
  gap: 10px;
  margin: 10px 10px 10px 0px;
}

.navList>ul>li{
  cursor: pointer;
}
.logo{
  margin: 10px 0px 10px 10px;
}

.logo>img{
  border-radius: 50%;
}

.cardHolder{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.card{
  border: 1px solid black;
  padding: 20px;
  background-color: pink;
  min-height: 350px;
  width: 250px;
}

.skCard{
  background-color:lightgray;
  border-radius: 20px;
  min-height: 350px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.skCardTitle{
  background-color: lightgoldenrodyellow;
  border-radius: 5px;
  margin: auto;
  height: 30px;
  width: 80%;
}

.skImg{
  height: 250px;
  width: 250px;
}
.cardImage{
  height: 250px;
  width: 250px;
}
.cardTitle,.cardDisc,.cardPrice{
  font-size:20px ;
  font-weight: 700;
}

.search{
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.search > button{
  font-size: medium;
  font-weight: 700;
  background-color:#caa5ec;
  color: whitesmoke;
}

/* ................Counter css ......................... */



/* .................Todo css ................ */


.myForm{
  border: 1px solid grey;
  height: 400px;
  width: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.myForm>input{
  padding: 30px;

}

.addBtn{
  padding: 20px;
  font-size: 20px;
  color:navy;
  border: none;
  background-color: hwb(147 2% 8%);
}

.deleteBtn{
  padding: 20px;
  font-size: 20px;
  color: whitesmoke;
  border: none;
  background-color: hwb(357 12% 3%);
}
.myToDoDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  
}


/* ....................Voter Count css ...................... */
.voterContainer{
  background-color:wheat;
  height: 500px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.voterSubContainer{
  height: 400px;
  width: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background-color: hsl(61, 78%, 51%);
}

.display{
  display: flex;
  gap: 17px;
}
.voteBtnContainer{
  display: flex;
  gap: 60px;
}
.voteBtn{
  height: 100px;
  width: 100px;
  color: whitesmoke;
  background-color: rgb(23, 218, 33);
  border-radius: 50%;
  border: none;
}

.voteDisplay{
  color: whitesmoke;
  padding-top: 20px;
  background-color: hwb(249 7% 8%);
  width: 130px;
  height: 50px;
  text-align: center;
}

/* .........Timer css */

.timerContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.timerContainer>div{
  height: 400px;
  width: 650px;
  background-color:hwb(29 26% 3%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timerContainer>div>h1{
  color: indigo;
  font-size: 40px;
  font-weight: 700;

}
.timerContainer>div>p{
  font-size: 100px;
  font-weight: 900;
  padding: 20px;
  background-color: whitesmoke;
  color:hsl(253, 88%, 49%);
}